html {
  background-size: cover;
  /* font-family: 'Playfair Display', serif; */
}
/* body {
  background-color: #355e3b;
  font-family: 'Nanum Gothic', sans-serif;
} */
body,
.index-main,
.card-body,
.card {
  background-color: #355e3b;
  border: none;
  color:white;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

.white,
a > i.fa,
a {
  color: white;
}
.navbar-brand,
.nav-item {
  color: white !important;
}

.card-img-top{
  width: 100%;
  height: 60%;
}

.parallaxOne{
  background: linear-gradient( rgba(20,20,20, .5),  rgba(20,20,20, .7)),url(../images/squash.jpeg);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTwo{
  background: linear-gradient( rgba(20,20,20, .7),  rgba(20,20,20, .7)),url(../images/beet_poke.jpeg);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.indexPageHeader{
  margin-top: 17vh;
}

.services-details > p,
.about-me {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .parallaxTwo{
    height: 700px;
  }
}