html {
  background-size: cover;
  font-size: 30px;
  /* font-family: 'Playfair Display', serif; */
}

body,
.index-main,
.card-body,
.card {
  /* background-color: #355e3b; */
  background-color: white;
  border: none;
  /* color:white; */
  color: #355e3b;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Yanone Kaffeesatz','Arial-Narrow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Work Sans', sans-serif; */
}

.white,
a > i.fa,
a,
a:hover,
a:focus {
  color: #355e3b;
}

.white {
  color: white;
}
.navbar-brand,
.nav-item {
  /* color: white !important; */
  color: #355e3b !important;
}

.card-img-top{
  width: 100%;
  height: 60%;
}

.p-and-p-logo {
  width: 18rem;
}
.p-and-p-logo-about {
  display: block;
  width: 50%;
}

.parallaxOne{
  background: linear-gradient( rgba(20,20,20, .5),  rgba(20,20,20, .7)),url(../images/squash.jpg);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallaxTwo{
  background: linear-gradient( rgba(20,20,20, .7),  rgba(20,20,20, .7)),url(../images/beet_poke.jpeg);
  /* Set a specific height */
  height: 23rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.indexPageHeader{
  margin-top: 10vh;
}

.services-details > p,
.about-me {
  color: #355e3b;
  font-size: 35px;
}

.services-details{
  background-color: #ffe6e8;
}

.reviews,
.reviews > div.card > div.card-body {
  /* background-color: #ffe6e8; */
  color: #355e3b;
}
.sample_menu_section > .card-deck .card {
  margin-left: 4px;
  margin-right: 4px;
}
/* for card image wall */
.card {
border: none;
}
img,
.card-img-top {
border-radius: 0em;
}
@media (min-width: 576px) {
.card-columns {
column-count: 2;
}
}
@media (min-width: 768px) {
.card-columns {
column-count: 3;
}
}
@media (min-width: 992px) {
.card-columns {
column-count: 4;
}
}
/* end card image wall */

ul.no-bullets {
  list-style-type: none;
  line-height: 2;
}
.survey{
  border: 2px white solid !important;
} 
.survey,
.survey > a {
  color: white !important;
  background-color: #355e3b;
  
}

@media screen and (max-width: 1180px) {
  .parallaxTwo{
    height: 28rem;
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 20px;
  }
  .parallaxTwo{
    height: 127vh;
  }

  .indexPageHeader{
    margin-top: 2vh;
  }

  .p-and-p-logo {
    width: 100%;
  }
}